<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Upload de Download de Arquivos</ui:insert></title>
	<h:outputStylesheet library="css" name="sistema.css"/>
</h:head>

<h:body>

	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<h:graphicImage library="images" name="loading.gif" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header> 
	<div style="float: left">
		<h:link outcome="/Home">
		   <h:graphicImage library="images" name="ilovefavetblue.png" />  
		</h:link>
	</div>

	<div style="float: right; margin-right: 110px">
		<span
			style="float: left; height: 30px; line-height: 30px; margin-right: 60px">
			  </span>

		<h:form style="display: inline-block">
			<p:menubar styleClass="menu-sistema">
				<p:submenu label="Arquivos" >
					
					<p:menuitem value="Upload" 
						outcome="/arquivos/Upload" />
					<p:menuitem value="Download" 
						outcome="/arquivos/Download" />
						
				</p:submenu>

				<p:submenu label="Atendimentos">
					<p:menuitem value="Atendimento de Paciente" icon="fa-stethoscope"
						outcome="/atendimentospacientes/AtendimentoPacientes" rendered="false"/>
					<p:menuitem value="Pesquisa Atendimento de Paciente" 
					outcome="/atendimentospacientes/PesquisaAtendimentoPacientes" />
					<p:menuitem value="Pesquisa Atendimento de Medicamentos" rendered="false"
  					    outcome="/atendimentos/PesquisaAtendimentoMedicamentos" />
  					
				</p:submenu>

				
                <p:separator />
				<p:menuitem value="Sair" outcome="/Home" />
			</p:menubar>
		</h:form>
	</div>
	<div style="clear: both"></div>
	</header>

	<div id="conteudo">
		<ui:insert name="corpo"></ui:insert>
	</div>

	<p:separator style="margin-top: 20px" />
	<footer> Upload e Download de Arquivos <a
		href="http://www.google.com.br" target="_blank">www.google.com.br</a>
		<br></br>
		Sistema: #{configuracaoWeb.sistemaNome}, versão: #{configuracaoWeb.sistemaVersao}
		<br></br>
		Banco de Dados: PostgreSql, versão da base: #{configuracaoWeb.bancoVersao}
	</footer>

</h:body>


</html>