<ui:composition template="/WEB-INF/template/LayoutPrincipal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
	

	<ui:define name="titulo">Download de Arquivos</ui:define>

	<ui:define name="corpo">
        <h2>Download de Arquivos</h2>
        
	     <p:messages autoUpdate="true" closable="true" />        

	<h:form>
			<p:growl showDetail="true" autoUpdate="true" />

			<h:panelGrid columns="2">
				<p:outputLabel value="Arquivo: " for="fileUpload" />
				<p:fileUpload id="fileUpload"
					fileUploadListener="#{uploadAvancadoBean.upload}"
					update="dataTable" label="Escolher" uploadLabel="Enviar"
	                allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/"
		            invalidFileMessage="São permitidas somente imagens e pdf (gif, jpeg, jpg, png e pdf)"
		            sizeLimit="5242880" 
		            invalidSizeMessage="O tamanho máximo permitido é de 5MB."
					fileLimit="5"
					fileLimitMessage="Só é possível escolher 5 arquivos por vez."
					multiple="false" auto="false"
					onstart="console.log('Iniciando envio de arquivo')"
					onerror="console.log('Erro na requisição de envio')"
					oncomplete="console.log('Envio concluído')" />
			</h:panelGrid>

			<p:spacer height="20px" />

            <p:inputText type="number" value="#{uploadAvancadoBean.idAtendimento}"/>
            <p:commandButton action="#{uploadAvancadoBean.listarArquivos}"
               update="@form dataTable" />

			<p:dataTable value="#{uploadAvancadoBean.arquivos}" var="file"
				id="dataTable" >
				<f:facet name="header">
			        Arquivos
			    </f:facet>

				<p:column headerText="Ação" width="5" >
				
				<p:outputLabel value="Arquivo inexistente" rendered="#{downloadBean.naoExisteArquivo(file)}"/>
				
					<p:commandButton value="Baixar" ajax="false" rendered="#{downloadBean.existeArquivo(file)}"
						actionListener="#{downloadBean.download(file)}"
						icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{downloadBean.streamedContent}" />
					</p:commandButton>
				</p:column>
				
				<p:column headerText="Nome" width="100">
					<h:outputText value="#{file.name}" />
				</p:column>
				
				
			</p:dataTable>
		</h:form>

    </ui:define>
    
</ui:composition>