<ui:composition template="/WEB-INF/template/LayoutPrincipal.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Upload de Arquivos</ui:define>

	<ui:define name="corpo">
        <h2>Upload de Arquivos</h2>

		<h:form enctype="multipart/form-data">
		   <p:inputText type="number" value="#{uploadAvancadoBean.idAtendimento}"/>
		
	     <p:messages autoUpdate="true" closable="true" />

          <p:panelGrid columns="6">
          <p:outputLabel value="Caminho Raiz Tomcat:" for="caminho"/>
          <h:outputLabel value="#{uploadBasicoBean.caminhoDirRaizTomcat}" id="caminho"/>

          <p:outputLabel value="Nome Sistema:" for="nome"/>
          <h:outputLabel value="#{configuracaoWeb.sistemaNome}" id="nome"/>
          
          <p:outputLabel value="Versão Sistema:" for="versao"/>
          <h:outputLabel value="#{configuracaoWeb.sistemaVersao}" id="versao"/>
          </p:panelGrid>
          <p:separator />
          
		  <p:fileUpload value="#{uploadBasicoBean.uploadedFile}" mode="simple" skinSimple="true" label="Escolher"/>
		  <p:commandButton value="Enviar" ajax="false" 
		          actionListener="#{uploadBasicoBean.upload}" />
		</h:form>


		<h:form enctype="multipart/form-data">
		
		  <p:inputText type="number" value="#{uploadAvancadoBean.idAtendimento}"/>
	     <p:messages autoUpdate="true" closable="true" />

          <p:panelGrid columns="6">
          <p:outputLabel value="Caminho Raiz Tomcat:" for="caminho"/>
          <h:outputLabel value="#{uploadBasicoBean.caminhoDirRaizTomcat}" id="caminho"/>

          <p:outputLabel value="Nome Sistema:" for="nome"/>
          <h:outputLabel value="#{configuracaoWeb.sistemaNome}" id="nome"/>
          
          <p:outputLabel value="Versão Sistema:" for="versao"/>
          <h:outputLabel value="#{configuracaoWeb.sistemaVersao}" id="versao"/>
          </p:panelGrid>
          <p:separator />
          
          <p:fileUpload fileUploadListener="#{uploadAvancadoBean.upload}"
             allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/"
             invalidFileMessage="São permitidas somente imagens (gif, jpeg, jpg e png)"
             sizeLimit="5242880" 
             invalidSizeMessage="O tamanho máximo permitido é de 5MB."
             fileLimit="5" 
             fileLimitMessage="Só é possível escolher 5 arquivos por vez." 
             skinSimple="true" 
             multiple="true"
             auto="false"
             dragDropSupport="true"
             sequential="true"
             
             onstart="console.log('Iniciando envio de arquivo')"
             onerror="console.log('Erro na requisição de envio')"
             oncomplete="console.log('Envio concluído')"
             
		     label="Escolher" uploadLabel="Enviar" cancelLabel="Cancelar" />

		</h:form>



	</ui:define>

</ui:composition>
