<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">    
	
			<p:growl showDetail="true" autoUpdate="true" />

			<h:panelGrid columns="3">

				<h:inputText id="descricao" size="30" maxlength="50"
				   value="#{cadastroAtendimentoPacienteBean.uploadArquivo.descricao}" 
				   pt:placeholder="Descrição do Arquivo">
			       <p:ajax event="blur" />   
				</h:inputText>   
			    
				<p:outputLabel value="Anexar Arquivos: " for="fileUpload"/>
				<p:fileUpload id="fileUpload"	
					fileUploadListener="#{cadastroAtendimentoPacienteBean.upload}"
					process="descricao" update="arquivosTable descricao" 
	                allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/"
		            invalidFileMessage="São permitidas somente imagens e pdf (gif, jpeg, pdf, jpg, png e pdf)"
		            
	                sizeLimit="5242880" 
		            invalidSizeMessage="O tamanho máximo permitido é de 5MB."
		            fileLimit="5" 
		            fileLimitMessage="Só é possível escolher 5 arquivos por vez." 
		            skinSimple="true" 
		            multiple="false"
		            auto="false"
		            dragDropSupport="true"
		            sequential="true"
		            
		            onstart="console.log('Iniciando envio de arquivo')"
		            onerror="console.log('Erro na requisição de envio')"
		            oncomplete="console.log('Envio concluído')"
		             
				    label="Escolher" uploadLabel="Enviar" cancelLabel="Cancelar"  />

			</h:panelGrid>

			<p:spacer height="20px" />

               
    <h:panelGroup layout="block" style="padding-right: 10px">
	    	<p:dataTable id="arquivosTable" value="#{cadastroAtendimentoPacienteBean.uploadArquivos}" var="arquivo"
		    		style="margin-top: 20px" emptyMessage="Nenhum arquivo anexado a este atendimento."
		    		rows="5" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    

				<p:column headerText="Ação" style="text-align: center; width: 50px">
				<p:outputLabel value="Arquivo inexistente" rendered="#{cadastroAtendimentoPacienteBean.naoExisteArquivo(arquivo.caminhoDiretorio, arquivo.nomeDestino)}"/>
				
					<p:commandButton value="Baixar" ajax="false" rendered="#{cadastroAtendimentoPacienteBean.existeArquivo(arquivo.caminhoDiretorio, arquivo.nomeDestino)}"
						actionListener="#{uploadAvancadoBean.download(arquivo.caminhoDiretorio, arquivo.nomeDestino)}"
						icon="ui-icon-arrowthick-1-s">
						<p:fileDownload value="#{uploadAvancadoBean.streamedContent}" />
					</p:commandButton>
				</p:column>


				<p:column headerText="Data Upload" style="text-align: center; width: 80px">
				   <h:outputFormat  id="data" value="#{arquivo.dataHoraUpload}">
				      <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				   </h:outputFormat>
				</p:column>

	    		<p:column headerText="Atend." style="text-align: center; width: 30px"
	    		rendered="false">
	    			<h:outputText value="#{arquivo.atendimentoPaciente.id}"/>
	    		</p:column>

	    		<p:column headerText="ContentType" style="text-align: center; width: 100px">
	    			<h:outputText value="#{arquivo.contentType}"/>
	    		</p:column>

	    		<p:column headerText="Descrição" style="text-align: center; width: 100px">
	    			<h:outputText value="#{arquivo.descricao}"/>
	    		</p:column>

	    		<p:column headerText="Módulo" style="text-align: center; width: 70px">
	    			<h:outputText value="#{arquivo.moduloSistema}"/>
	    		</p:column>	    		

	    		<p:column headerText="Diretório" style="text-align: center; width: 100px">
	    			<h:outputText value="#{arquivo.caminhoDiretorio}"/>
	    		</p:column>

	    		<p:column headerText="Nome Original" style="text-align: center; width: 100px">
	    			<h:outputText value="#{arquivo.nomeOrigem}"/>
	    		</p:column>

	    		<p:column headerText="Nome Atual" style="text-align: center; width: 100px">
	    			<h:outputText value="#{arquivo.nomeDestino}"/>
	    		</p:column>
	    		
	    	</p:dataTable>
	</h:panelGroup>	
    
</ui:composition>