<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:toolbar style="margin-top: 20px">
		<p:toolbarGroup>
			<p:commandButton value="Salvar"
				action="#{cadastroAtendimentoPacienteBean.salvar}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.cancelado}" />
			<p:separator />  
			<p:commandButton value="Iniciar" 
				action="#{cadastroAtendimentoPacienteBean.iniciarAtendimento}" 
				update="frmCadastro" disabled="#{!cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}"/>
            
			<p:commandButton value="Finalizar" 
				action="#{cadastroAtendimentoPacienteBean.finalizarAtendimento}" 
				update="frmCadastro" disabled="#{!cadastroAtendimentoPacienteBean.atendimentoPaciente.emAtendimento}"/>
		</p:toolbarGroup>
		
		<p:toolbarGroup align="right">
			<p:commandButton value="Cancelar" 
				action="#{cadastroAtendimentoPacienteBean.cancelarAtendimento}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.cancelado}"/>
			<p:separator />

			<p:button value="Pesquisar"
			       outcome="PesquisaAtendimentoPacientes"/>

		</p:toolbarGroup>
	</p:toolbar>

</ui:composition>