<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="6" style="width: 100%; margin-top: 20px" 
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Atendimento" />
		<h:outputText id="numeroAtendimento" size="5" maxlength="5" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.id}" >
		</h:outputText>

		<p:outputLabel value="Prioritário" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.prioritario}">
  	    </p:selectBooleanCheckbox>

		<p:outputLabel value="Resumo" />
		<h:inputText id="resumo" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.resumo}" >
		</h:inputText>

		<h:outputLabel value="Status" />
		<p:selectOneMenu id="status" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.status}" disabled="true">
		  <f:selectItem itemLabel="Selecione um status" />		
		  <f:selectItems value="#{cadastroAtendimentoPacienteBean.statusAtendimentoPaciente}" var="status"
			   itemValue="#{status}" itemLabel="#{status.descricao}"/>
		</p:selectOneMenu>        
        
		<h:outputLabel value="Tipo Atendimento" />
		<p:selectOneMenu id="tipoAtendimentoPaciente" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.tipoAtendimentoPaciente}">
		  <f:selectItem itemLabel="Selecione um tipo de atendimento" />		
		  <f:selectItems value="#{cadastroAtendimentoPacienteBean.tipoAtendimentoPaciente}" var="tipoAtendimentoPaciente"
			   itemValue="#{tipoAtendimentoPaciente}" itemLabel="#{tipoAtendimentoPaciente.descricao}"/>
		</p:selectOneMenu>        

		<p:outputLabel value="Cod. Animal" for="codAnimal" />
		<h:outputText id="codAnimal" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.id}" >
		</h:outputText>
        
		<p:outputLabel value="Animal" for="animal" />
		<h:outputText id="animal" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.nome}" >
		</h:outputText>

		<p:outputLabel value="Espécie" for="especie" />
		<h:outputText id="especie" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.especie.nome}" >
		</h:outputText>

		<p:outputLabel value="Raça" for="raca" />
		<h:outputText id="raca" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.raca.nome}" >
		</h:outputText>

     	<p:outputLabel value="Proprietário" for="proprietario" />
		<h:outputText id="proprietario" size="30" maxlength="50" 
		   value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.proprietario.nome}" >
		</h:outputText>

		<p:outputLabel value="Dr. Veterinário" for="veterinario" />		
		<p:selectOneMenu id="veterinario" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.veterinario}">
			<f:selectItem itemLabel="Selecione um Dr. veterinário" />
			<f:selectItems value="#{cadastroAtendimentoPacienteBean.veterinarios}" var="veterinario" 
			   itemValue="#{veterinario}" itemLabel="#{veterinario.nome}"/>
		</p:selectOneMenu>		
		
		<p:outputLabel value="Pesagem" for="peso" />		
	    <p:inputText  type="number" id="peso" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.peso}" />

		<p:outputLabel value="Início" for="dataInicio" />		
	    <h:outputFormat  id="dataInicio" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.dataHoraInicio}">
	       <f:convertDateTime pattern="dd/MM/yyyy  HH:mm:ss" /> 
	    </h:outputFormat>

		<p:outputLabel value="Fim" for="dataHoraFim" />
	    <h:outputFormat  id="dataHoraFim" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.dataHoraFim}">
	      <f:convertDateTime pattern="dd/MM/yyyy  HH:mm:ss" />
	    </h:outputFormat>
	</p:panelGrid>

    <div style="margin-top:20px">	
	<p:panelGrid columns="1" style="width: 100%; margin-top: 20px"  
		columnClasses="rotulo, campo, rotulo, campo">

        <p:outputLabel value="***** Lembre-se de selecionar o seu Consultório e clicar no botão 'INICIAR' para começar o atendimento *****" style="margin-top:20px;background-color: #FF0000;color: #fff;font-size: 16px;" rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}" />
		<p:outputLabel value="Anamnese" style="margin-top:20px" for="anamnese"/>	 	
		<p:inputTextarea rows="20" style="width: 100%" 
		      id="anamnese" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.anamnese}" />

		<p:outputLabel value="Avaliação Física" style="margin-top:20px" for="avaliacaoFisica"/>	 	
		<p:inputTextarea id="avaliacaoFisica" rows="10" style="width: 100%" 
		      value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.exameFisico}" />

		<p:outputLabel value="Exames Complementares" style="margin-top:20px" for="examecomplementar"/>
		<p:inputTextarea rows="3" style="width: 100%" 
		      id="examecomplementar" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.exameComplementar2}" />

		<p:outputLabel value="Resultado Exames Complementares" style="margin-top:20px" for="resultadoexame"/>
		<p:inputTextarea rows="3" style="width: 100%" 
		      id="resultadoexame" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.resultadoExameComplementar2}" />

		<p:outputLabel value="Diagnóstico Provável, Diagnóstico Definitivo e Prognóstico" style="margin-top:20px" for="diagnostico"/>	 	
		<p:inputTextarea rows="5" style="width: 100%"
		      id="diagnostico" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.diagnostico}" />

		<p:outputLabel value="Tratamento Clínico" style="margin-top:20px" for="tratamentoClinico"/>
		<p:inputTextarea rows="5" style="width: 100%"
		      id="tratamentoClinico" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.tratamento}" />

	</p:panelGrid>
	 </div>	

</ui:composition>