<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup layout="block" style="padding-right: 10px">

		<p:editor id="editorWidget" 
			widgetVar="editorWidget" height="300" style="margin-bottom:10px"
			value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.receituario}" 
			rendered="#{!cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}"/>
			
			<!-- 

		<h:panelGrid columns="2" style="margin-top: 10px">

		
		<p:commandButton value="Teste" 
		oncomplete="PF('editorWidget').editor.execCommand('inserthtml','texto hr/n b inserido');"   
		process="@this" />
    
    	<p:commandButton value="Limpar" type="button"
				onclick="PF('editorWidget').clear();" icon="ui-icon-close" />

			<p:commandButton value="Salvar" update="display"
				oncomplete="PF('dlg').show()" icon="ui-icon-disk" />


		</h:panelGrid>
           -->

<!-- 
		<p:dialog header="Content" widgetVar="dlg" showEffect="fade"
			hideEffect="fade">
			<h:outputText id="display" value="#{editorView.text}" escape="false" />
		</p:dialog>
 -->

	</h:panelGroup>

</ui:composition>