<ui:composition template="/WEB-INF/template/LayoutPrincipal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="atendimentoPaciente" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente}" />
		<o:viewParam name="animal" value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.animal}" />		
		<f:event listener="#{cadastroAtendimentoPacienteBean.inicializar}" type="preRenderView" />
	</f:metadata>

    <ui:define name="titulo">Atendimento de Paciente</ui:define>    
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
    	    <p:focus context="frmCadastro"/>
    	   <h1>Atendimento de Paciente</h1>	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/atendimentospacientes/BotoesAtendimentoPacientes.xhtml" />
	    	
	    	<p:tabView id='id_tabview' style="margin-top: 20px">
	    		<p:tab title="Dados" id='id_tab_dados'>
	    	       <ui:include src="/WEB-INF/template/atendimentospacientes/CorpoAtendimentoPacientes.xhtml"/>		 
	    		</p:tab>
	    		<p:tab title="Histórico" id='id_tab_historico'>
	    			<ui:include src="/WEB-INF/template/atendimentospacientes/HistoricoAtendimentoPacientes.xhtml" />
	    		</p:tab>
	    		<p:tab title="Anexos" id='id_tab_arquivos'>
	    			<ui:include src="/WEB-INF/template/atendimentospacientes/ArquivosAtendimentoPacientes.xhtml" />
	    		</p:tab>
	    	</p:tabView>
	    		    	
	    	<p:tabView style="margin-top: 20px">
	    		<p:tab title="Observação">
	    			<ui:include src="/WEB-INF/template/atendimentospacientes/ObservacaoAtendimentoPacientes.xhtml" />
	    		</p:tab>
	    		<p:tab title="Receituário">
	    	        <ui:include src="/WEB-INF/template/atendimentospacientes/ReceituarioAtendimentoPacientes.xhtml" />   		 
	    		</p:tab>
	    	</p:tabView>
	    	<ui:include src="/WEB-INF/template/atendimentospacientes/BotoesAtendimentoPacientes.xhtml" />
	
    	</h:form>
    </ui:define>
</ui:composition>