<ui:composition template="/WEB-INF/template/LayoutPrincipal.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">"Pesquisa Atendimentos de Pacientes"</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">

    	   <h1>Pesquisa Atendimentos de Pacientes</h1>

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaAtendimentoPacienteBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="4" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo, rotulo, campo">

      		<p:outputLabel value="Data de Criação De"/>
	    		<h:panelGroup>
	    			<p:calendar size="10" pattern="dd/MM/yyyy"
	    				value="#{pesquisaAtendimentoPacienteBean.filtro.dataAtendimentoDe}" />
	    			a
	    			<p:calendar size="10" pattern="dd/MM/yyyy"
	    				value="#{pesquisaAtendimentoPacienteBean.filtro.dataAtendimentoAte}" />
	    		</h:panelGroup>

	    		<p:outputLabel value="Codigo de Atendimento De" />
	    		<h:panelGroup>
	    		<p:inputText size="10" value="#{pesquisaAtendimentoPacienteBean.filtro.codAtendimentoDe}" />	 
                a
	    		<p:inputText size="10" value="#{pesquisaAtendimentoPacienteBean.filtro.codAtendimentoAte}" />	 
	    		</h:panelGroup>
	    	
	    		<p:outputLabel value="CPF/CNPJ do Proprietário" for="cnpfProprietario" />
	    		<p:inputText id="cnpfProprietario"  value="#{pesquisaAtendimentoPacienteBean.filtro.cpfCnpfProprietario}" size="30" disabled="true"/> 	    		
            
	    		<p:outputLabel value="Nome do Proprietário" for="nomeProprietario" />
	    		<p:inputText id="nomeProprietario"  value="#{pesquisaAtendimentoPacienteBean.filtro.nomeProprietario}" size="30" disabled="true"/> 	    		
 
                <p:outputLabel value="Nome do Animal" for="nomeAnimal" />
	    		<p:inputText size="30" id="nomeAnimal" value="#{pesquisaAtendimentoPacienteBean.filtro.nomeAnimal}"  />	    		

	    		<p:outputLabel value="Código do Animal" for="codAnimal" />
	    		<p:inputText size="30" type="number" id="codAnimal"  value="#{pesquisaAtendimentoPacienteBean.filtro.codigoAnimal}" />
	    		
	    		<p:outputLabel value="Nome do Veterinário" for="nomeveterinario" />
	    		<p:inputText id="nomeveterinario" value="#{pesquisaAtendimentoPacienteBean.filtro.nomeVeterinario}" size="30" />

	    		<p:outputLabel value="Status" />
	    		<p:selectManyCheckbox value="#{pesquisaAtendimentoPacienteBean.filtro.statuses}">
	    			<f:selectItems value="#{pesquisaAtendimentoPacienteBean.statuses}" var="status"
	    				itemValue="#{status}" itemLabel="#{status.descricao}" />
	    		</p:selectManyCheckbox>

	    		<p:outputLabel value="Tipo Atendimento" />
	    		<p:selectManyCheckbox value="#{pesquisaAtendimentoPacienteBean.filtro.tiposAtendimentos}">
	    			<f:selectItems value="#{pesquisaAtendimentoPacienteBean.tiposAtendimentos}" var="tipoAtendimento"
	    				itemValue="#{tipoAtendimento}" itemLabel="#{tipoAtendimento.descricao}" />
	    		</p:selectManyCheckbox>

            </p:panelGrid>
  
           <p:panelGrid columns="1" style="margin-top: 10px">  
          
            <p:panelGrid columns="9" id="painelTotais" style="margin-top: 10px; margin-right: 10px;align=right" 
                styleClass="semBorda" >
            
               <p:outputLabel value="Em Espera:" for="emEspera" styleClass="negrito" />
               <p:outputLabel id="emEspera" value="#{pesquisaAtendimentoPacienteBean.totalEmEspera}"/>
               
               <p:outputLabel value="Em Atendimento:" for="emAtendimento" styleClass="negrito"/>
               <p:outputLabel id="emAtendimento" value="#{pesquisaAtendimentoPacienteBean.totalEmAtendimento}"/>
               
               <p:outputLabel value="Atendido(s):" for="atendidos" styleClass="negrito"/>
               <p:outputLabel id="atendidos" value="#{pesquisaAtendimentoPacienteBean.totalAtendido}"/>
               
               <p:outputLabel value="Cancelado(s):" for="cancelados" styleClass="negrito"/>
               <p:outputLabel id="cancelados" value="#{pesquisaAtendimentoPacienteBean.totalCancelado}"/>                                             
            </p:panelGrid>
           </p:panelGrid>
           
	    	<p:dataTable id="atendimentoTable" value="#{pesquisaAtendimentoPacienteBean.atendimentosFiltrados}" var="atendimento"
		    		 emptyMessage="Nenhum atendimento encontrado." style="margin-top: 10px"
		    		rows="15" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    
				<p:column headerText="Data Criação" style="text-align: center; width: 80px">
				   <h:outputFormat  id="data" value="#{atendimento.dataCriacao}">
				      <f:convertDateTime pattern="dd/MM/yyyy" />
				   </h:outputFormat>
				</p:column>

	    		<p:column headerText="Atend." style="text-align: center; width: 30px">
	    			<h:outputText value="#{atendimento.id}"/>
	    		</p:column>

	    		<p:column headerText="Prioritário" style="text-align: center; width: 60px">
	    			<h:outputText value="#{atendimento.nomePrioritario}" />
	    		</p:column>

	    		<p:column headerText="Resumo" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.resumo}"/>
	    		</p:column>

	    		<p:column headerText="Status" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.status.descricao}"/>
	    		</p:column>	    		

	    		<p:column headerText="Tipo" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.tipoAtendimentoPaciente.descricao}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Veterinário" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.veterinario.nome}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Cod. Animal" style="text-align: center; width: 40px">
	    			<h:outputText value="#{atendimento.animal.id}"/>	    			
	    		</p:column>

	    		<p:column headerText="Animal" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.animal.nome}"/>
	    		</p:column>

	    		<p:column headerText="Proprietário" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.animal.proprietario.nome}"/>
	    		</p:column>	    		
	    		
	    		<p:column headerText="Espécie" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.animal.especie.nome}"/>
	    		</p:column>

	    		<p:column headerText="Raça" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.animal.raca.nome}"/>
	    		</p:column>

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Atendimento"
	    			       outcome="/atendimentospacientes/AtendimentoPacientes">
	    				<f:param name="atendimentoPaciente" value="#{atendimento.id}" />
	    			</p:button>
	    		</p:column>

	    		<p:column headerText="Atender" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-suitcase" title="Atender"
	    			       outcome="/atendimentospacientes/AtendimentoPacientes">
	    				    <f:param name="atendimentoPaciente" value="#{atendimento.id}" /> 
	    			</p:button>
	    		</p:column>

	    	</p:dataTable>
	    	
    	</h:form>
    </ui:define>
</ui:composition>